# REQUIRED: database url
POSTGRES_PRISMA_URL=
# REQUIRED
POSTGRES_URL_NON_POOLING=${POSTGRES_PRISMA_URL}
# REQUIRED: better to use instant finality url
GODWOKEN_RPC_URL=http://localhost:8024/instant-finality
# REQUIRED
FAUCET_PRIVATE_KEY=

# pCKB
# OPTIONAL: default to 30
CLAIM_VALUE=30
# OPTIONAL: default to 10
REQUIRED_CONFIRMATIONS=10
# 10 means one account can receive 10 times from faucet
# OPTIONAL: default to 1 in mainnet, and 1000 in other networks
RECEIVING_TIME_LIMIT=
# true OR false
# OPTIONAL: default to false
IS_MAINNET=
